*{
    margin: 0;
    padding: 0;
    background: url("https://wallpaperaccess.com/full/187161.jpg");
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: rgb(162, 162, 229);
    margin-top: 15px;
}
.form{
    background: rgb(162, 162, 229);
}
.input{
    width: 163x;
}
.flex{
    width: 324px !important;
    margin:30px;
    background: rgb(162, 162, 229);
    padding: 15px;
    border: 1px solid;
}

.buttonAdd{
    background:yellow ;
}
.buttonSave{
    background:green ;
}
.buttonClear{
    background:rgb(243, 22, 22) ;
}
.buttonAdd,.buttonSave,.buttonClear{
    color: black !important;
    padding: 5px;
    border-style: none;
    margin-left: 5px;
    cursor: pointer;
}
.buttonAdd:hover,.buttonSave:hover,.buttonClear:hover{
    cursor: pointer;
    color: rgb(252, 249, 249) !important;
}

.ol{
    width: 323px !important;
    border-radius: 7px;
    padding: 0;
    background-size:cover ;
    background-position: center;
}

.list{
    width: 323px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(46, 238, 238, 0.808);
    box-shadow: 0px 0px 4px 2px rgb(0 0 0/ 44%);
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: 5px;
    margin: 10px 0;
}

.delbutton{
    color: red;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    border-style: none;
}

@media screen and (max-width:500px) {
    .flex,.ol,.list{
        width:200px !important ;
    }
    .form{
        margin-left: 15px;
    }
    .buttonAdd,.buttonSave,.buttonClear{
        margin-top: 5px;
    }
    .buttonAdd{
        margin-left: 8px;
    }
    
}